---
import { Image } from 'astro:assets'
import type { ImageMetadata } from 'astro'
import { cn } from '@/utils'

const {
	class: className,
	href,
    date,
	heading,
	subheading,
	imagePath,
	altText
} = Astro.props
const images = import.meta.glob<{ default: ImageMetadata }>('/src/assets/*.{jpeg,jpg,png,gif}')

if (imagePath) {
	if (!images[imagePath])
		throw new Error(`"${imagePath}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif}"`)
}
---



<a href={href} class="w-48 flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-col md:max-w-xl hover:bg-gray-100">
    <Image
    src={images[imagePath]()}
    alt={altText}
    class="object-cover max-w-full md:h-120 md:max-w-full md:rounded-t-lg rounded-t-lg"
    loading='eager'
/>

    <div class="flex flex-col justify-between p-4 leading-normal">
        <h1 class='text-lg font-medium'>{heading}</h1>
        <h2>{date}</h2>
		<h2 class='text-muted-foreground'>{subheading}</h2>
    </div>
</a>
