---
import img01 from 'src/assets/gallery_ldscp_sailors.png'; 
import img03 from 'src/assets/gallery_ldscp_dragonDance.png'; 
import img02 from 'src/assets/gallery_prt_Barcelona.png'; 
import img04 from 'src/assets/gallery_prt_hachiko.png'; 
import img05 from 'src/assets/gallery_luckCharm.png'; 
import img06 from 'src/assets/gallery_cat.png'; 
import img07 from 'src/assets/gallery_meowloween.png'; 
import img08 from 'src/assets/gallery_beach.png'; 
import img09 from 'src/assets/gallery_prt_tiger.png'; 
import img10 from 'src/assets/gallery_prt_park.png'; 
import img11 from 'src/assets/gallery_prt_warrior.png'; 
import img12 from 'src/assets/gallery_fishstick.png'; 
---

<!-- Gallery code -->

<div class="grid grid-cols-2 md:grid-cols-3 gap-4">
    <div class="grid gap-4">
        <div>
                <img 
                    class="gallery h-auto max-w-full rounded-lg transition ease-in-out hover:scale-105 duration-200" 
                    src={img01.src}
                    alt=""
                    data-modal-target="art-gallery-modal"
                    data-modal-toggle="art-gallery-modal"
                >
        </div>
        <div>
            <img 
                class="gallery h-auto max-w-full rounded-lg transition ease-in-out hover:scale-105 duration-200" 
                src={img02.src}
                alt=""
                data-modal-target="art-gallery-modal"
                data-modal-toggle="art-gallery-modal"
            >
        </div>
        <div>
            <img 
                class="gallery h-auto max-w-full rounded-lg transition ease-in-out hover:scale-105 duration-200" 
                src={img03.src}
                alt=""
                data-modal-target="art-gallery-modal"
                data-modal-toggle="art-gallery-modal"
            >
        </div>
        <div>
            <img 
                class="gallery h-auto max-w-full rounded-lg transition ease-in-out hover:scale-105 duration-200" 
                src={img10.src}
                alt=""
                data-modal-target="art-gallery-modal"
                data-modal-toggle="art-gallery-modal"
            >
        </div>
    </div>
    <div class="grid gap-4">
        <div>
            <img 
                class="gallery h-auto max-w-full rounded-lg transition ease-in-out hover:scale-105 duration-200" 
                src={img04.src}
                alt=""
                data-modal-target="art-gallery-modal"
                data-modal-toggle="art-gallery-modal"
            >
        </div>
        <div>
            <img 
                class="gallery h-auto max-w-full rounded-lg transition ease-in-out hover:scale-105 duration-200" 
                src={img05.src}
                alt=""
                data-modal-target="art-gallery-modal"
                data-modal-toggle="art-gallery-modal"
            >
        </div>
        <div>
            <img 
                class="gallery h-auto max-w-full rounded-lg transition ease-in-out hover:scale-105 duration-200" 
                src={img06.src}
                alt=""
                data-modal-target="art-gallery-modal"
                data-modal-toggle="art-gallery-modal"
            >
        </div>
        <div>
            <img 
                class="gallery h-auto max-w-full rounded-lg transition ease-in-out hover:scale-105 duration-200" 
                src={img12.src}
                alt=""
                data-modal-target="art-gallery-modal"
                data-modal-toggle="art-gallery-modal"
            >
        </div>
    </div>
    <div class="grid gap-4">
        <div>
            <img 
                class="gallery h-auto max-w-full rounded-lg transition ease-in-out hover:scale-105 duration-200" 
                src={img07.src}
                alt=""
                data-modal-target="art-gallery-modal"
                data-modal-toggle="art-gallery-modal"
            >
        </div>
        <div>
            <img 
                class="gallery h-auto max-w-full rounded-lg transition ease-in-out hover:scale-105 duration-200" 
                src={img08.src}
                alt=""
                data-modal-target="art-gallery-modal"
                data-modal-toggle="art-gallery-modal"
            >
        </div>
        <div>
            <img 
                class="gallery h-auto max-w-full rounded-lg transition ease-in-out hover:scale-105 duration-200" 
                src={img09.src}
                alt=""
                data-modal-target="art-gallery-modal"
                data-modal-toggle="art-gallery-modal"
            >
        </div>
        <div>
            <img 
                class="gallery h-auto max-w-full rounded-lg transition ease-in-out hover:scale-105 duration-200" 
                src={img11.src}
                alt=""
                data-modal-target="art-gallery-modal"
                data-modal-toggle="art-gallery-modal"
            >
        </div>
    </div>
</div>


<!-- Main modal -->
<div id="art-gallery-modal" data-modal-backdrop="static" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative p-4 w-full max-w-2xl max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <!-- Modal header -->
            <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                    <!-- Static modal -->
                </h3>
                <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="art-gallery-modal">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            <div class="p-4 md:p-5 space-y-4">
                <img class="modal w-full" src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-11.jpg">
            </div>
        </div>
    </div>
</div>

<script>
    // finds all images in gallery
    const images = document.querySelectorAll('img.gallery');

     // Handle clicks on each image.
    images.forEach((image) => {
    image.addEventListener('click', () => {
      const originImgSrc: string = image.getAttribute("src") || ""; 
      const modalImg = document.querySelectorAll('img.modal')[0]; 
      modalImg.setAttribute("src", originImgSrc); 
    });
  });
</script>